<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ninja Gold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CB953BD1E6E6A4E002E057D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB953D11E6E6A4F002E057D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB953DC1E6E6A4F002E057D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
